# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Streamlit cache
.streamlit/cache/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env